{% extends "layouts/plain.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Apply for free school transport</h1>

      <p class="govuk-body">
        Based on your application for Disability Living Allowance (DLA), you may be able to get more help from Arnford Borough Council. For example, help with school transport costs.
      </p>

      <p class="govuk-body">
        If you want to apply for help from Arnsford Borough Council, we can save you time by passing on the information you’ve already provided in your DLA application.
      </p>

      <form action="/life-events/consent" method="post" novalidate>

        {{ govukRadios({
          name: "interview-needs",
          fieldset: {
            legend: {
              text: "Do you want us to pass your details to Arnsford Borough Council?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "automatic",
              text: "Yes, pass on the details I’ve already provided in my DLA application "
            },
            {
              value: "manual",
              text: "No, do not pass on my details - I’ll enter the information again"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!-- version one copy
    <h1 class="govuk-heading-l">Sharing information with other public services</h1>
    <p class="">Based on what you said in your application for child Disability Living Allowance, you probably also qualify for services from Arnsford District Council:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Free bus and rail passes</li>
      <li>Subsidised travel</li>
      <li>Blue Badge</li>
      <li>Sensory support service</li>
      <li>The Max Card</li>
      <li>Further information and advice service</li>
    </ul>

    <h3 class="govuk-heading-m">Do you want us to pass your details to Arnsford District Council?</h3>

    <p class="govuk-body">To save you time, we can pass on the information you provided in your [child DLA] application to help you apply for council services. <a href="#">Find out more about how we use your personal information</a>.</p>

      <form action="/life-events/confirmation-page-application-sent" method="post" novalidate>
        {{ govukRadios({
        name: "where-do-you-live",
        items: [
          {
            value: "england",
            text: "Yes, pass on the information I’ve already provided in my [child DLA] application "
          },
          {
            value: "scotland",
            text: "No, do not pass on my details - but send me a link to those services anyway"
          }
        ]
      }) }}

        {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    -->

    </div>
  </div>

{% endblock %}
