{% extends "layouts/plain.html" %}

{% block pageTitle %}
  GOV.UK 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Agree to share your child Disability Living Allowance information</h1>

    <p class="govuk-body">To automatically apply for free school transport, you need to agree to share your Disability Living Allowance information with <span class="govuk-!-font-weight-bold">Arnsford District Council</span>.

    <p>Arnsford District Council will use your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Child's name</li>
      <li>Child's date of birth</li>
      <li>Child's school</li>
      <li>Child's disability affects they're disability</li>
      <li>Name</li>
      <li>Postal address</li>
      <li>Email address</li>
      <li>Phone number</li>
   </ul>

    <p class="govuk-body">Read the <a href="#">terms of use and privacy policy</a> for Arnsford District Council to check how your information will be used.</p>

    <p class="govuk-body">If you do not agree to re-use information from your child Disability Living Allowance, you will need to <a href="#">fill out the application form</a>.</p>


            <form action="/life-events/confirmation-page-application-sent" method="post" novalidate>
              <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                  I agree
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  I do not agree to share this information
                </button>
              </div>
            </form>

      </main>
    </div>

    <!-- version one copy
    <h1 class="govuk-heading-l">Sharing information with other public services</h1>
    <p class="">Based on what you said in your application for child Disability Living Allowance, you probably also qualify for services from Arnsford District Council:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Free bus and rail passes</li>
      <li>Subsidised travel</li>
      <li>Blue Badge</li>
      <li>Sensory support service</li>
      <li>The Max Card</li>
      <li>Further information and advice service</li>
    </ul>

    <h3 class="govuk-heading-m">Do you want us to pass your details to Arnsford District Council?</h3>

    <p class="govuk-body">To save you time, we can pass on the information you provided in your [child DLA] application to help you apply for council services. <a href="#">Find out more about how we use your personal information</a>.</p>

    <form action="/life-events/confirmation-page-application-sent" method="post" novalidate>

        {{ govukRadios({
          name: "where-do-you-live",
          items: [
            {
              value: "england",
              text: "Yes, pass on the information I’ve already provided in my [child DLA] application "
            },
            {
              value: "scotland",
              text: "No, do not pass on my details - but send me a link to those services anyway"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    -->

  </div>
</div>

{% endblock %}
