{% extends "layouts/council.html" %}

{% block pageTitle %}
  Privacy Policy - Arnsford District Council
{% endblock %}

{% set pageName="Home" %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Legal and finance</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Privacy notices</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="font-family: Arial !important;
">
  <div class="govuk-grid-column-two-thirds" style="font-family: Arial !important;">

    <span class="govuk-caption-l" style="font-family: Arial;">What we do with your personal data</span>
    <h1 class="govuk-heading-l" style="font-family: Arial;">
      Privacy Notice – Free School Transpport Applications
    </h1>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Data Controller</span> – Arnsford District Council

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Data Protection Officer contact</span> – informationgovernance@arnsford.gov.uk</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Purpose for processing</span> – The information requested will be used for processing your child(ren)’s free school meals claim</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Legal basis for processing</span> – We are processing your personal data because we are required to do so by law</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">By Law</span> – Education Act 1996</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Legitimate Interests</span> – Arnsfords District Council will also use your data for the purposes of monitoring quality, audit and for dealing with any enquiries or complaints</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Data Sharing</span> – the personal data provided will only be disclosed to staff in the Local Authority who have a right of access and where appropriate, any school that your child(ren) attend as well as Arnsfords District Councils software supplier and the Department for Education</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Transfers abroad</span> – this data is held within the EU and is accessible by the approved application provider</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Data Retention</span> – the personal data supplied on this form will be retained for as long as is necessary to meet our statutory requirements and legitimate interests and it will be disposed of in a manner appropriate to its sensitivity</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Your Rights</span> – You have the right to ask Arnsfords District Council to a copy of your data, the right to rectify or erase your personal data, and the right to object to processing. However, these rights are only applicable if the council has no other legal obligation concerning that data</p>

    <p style="font-family: Arial;">You also have the right to complain to the regulator, <a href="#">https://ico.org.uk</a>.</p>

    <p style="font-family: Arial;"><span class="govuk-!-font-weight-bold">Consequences</span>: If you do not supply this information to us, we will not be able to do process your application for free school meals.</p>

    <p style="font-family: Arial;">For more information see Privacy notices</p>

  </div>
</div>

{% endblock %}
