<div style="font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;color:#0b0c0c"><div class="adM">

</div><table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody><tr>
        <td width="100%" height="53" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" align="center">
                <tbody><tr>
                    <td width="70" bgcolor="#0b0c0c" valign="middle">
                        <a href="https://www.gov.uk" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.gov.uk&amp;source=gmail&amp;ust=1682764315478000&amp;usg=AOvVaw0-zsSo2khxNZLuDwkdFtRi"><img src="https://ci4.googleusercontent.com/proxy/tsSkhfFiyBAIA6K639gdoeUF7bdzJcFobucdUYGqJtjYqSr8OaDjLUnmJGRWaXKYFhYSZJVj_9N0ac-LjLy-OdcKnW0DiYjTNl-7VttMwI51_teFd2_fxyzeDneCrnnh244=s0-d-e1-ft#https://raw.githubusercontent.com/alphagov/email-template/master/crown-32px.gif" alt="" height="32" border="0" class="CToWUd" data-bit="iit"></a>
                    </td>
                    <td width="100%" bgcolor="#0b0c0c" valign="middle" align="left">
                        <span style="padding-left:5px"><a href="https://www.gov.uk" style="font-family:Helvetica,Arial,sans-serif;font-size:28px;line-height:1.315789474;font-weight:700;color:#efefef;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.gov.uk&amp;source=gmail&amp;ust=1682764315478000&amp;usg=AOvVaw0-zsSo2khxNZLuDwkdFtRi">GOV.UK</a></span>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom:19px">
    <tbody><tr>
        <td width="100%">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center" style="border-top:10px solid #005ea5">
                <tbody><tr>
                    <td width="100%">

                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            Dear Harry Trimble,
                        </p>
                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            Thanks for your application to be added to the electoral register or to update your details.
                        </p>
                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            Your reference number is AFXKZVW8VM.
                        </p>

                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            We've sent your application to Mendip District Council Electoral Registration Office, they will send you an email or letter about your application within 10 working days. If an election is taking place in your area, it might take longer.
                        </p>

                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            If you're registering for a specific upcoming election and you haven't heard within 10 working days, contact Mendip District Council to discuss your application. You can also find out more about
                            <a href="http://www.registertovote.service.gov.uk/register-to-vote/what-happens-next-british" name="m_-4148701796496859424_what happens next" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.registertovote.service.gov.uk/register-to-vote/what-happens-next-british&amp;source=gmail&amp;ust=1682764315478000&amp;usg=AOvVaw2_2iwnuL7N8c2R8IgYPBpm"> what happens next.</a>
                        </p>

                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            If you have any questions about your application, contact them using the details below.
                        </p>
                        <p style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;margin:30px 0 30px 0">
                            Email: <a href="mailto:elections@mendip.gov.uk" target="_blank">elections@mendip.gov.uk</a>
                            <br>
                            <br> Mendip District Council <br>
Electoral Services, Mendip District Council <br>
Cannards Grave Road <br>
Shepton Mallet <br>
Somerset <br>
BA4 5BT
                            <br> Phone: 01749 341479
                            <br>
                            <br> Visit <a href="https://www.mendip.gov.uk/electoralservices" name="m_-4148701796496859424_Mendip District Council" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.mendip.gov.uk/electoralservices&amp;source=gmail&amp;ust=1682764315478000&amp;usg=AOvVaw289KU7C6VElRE9cr3MwfSv">Mendip District Council</a>
                            <br>
                        </p>

                    </td>
                    <td width="25%">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table><div class="yj6qo"></div><div class="adL">

</div></div>