{% extends "layouts/life-events/main.html" %}

{% block pageTitle %}
  GOV.UK Life Events
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">Department for Work and Pensions</span>
    <h1 class="govuk-heading-xl">Child has a disability</h1>
    <p class="govuk-body-l">Get a notification to your public service when a user successfully appllies for child Disability Living Allowance.</p>
    <h3 class="govuk-heading-m">Available as</h3>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-!-font-size-24" style="background-color: #fff; color: #0b0c0c; border: 1px solid #0b0c0c;" data-module="govuk-button">
        API
      </button>
      <button class="govuk-button govuk-!-font-size-24" style="background-color: #fff; color: #0b0c0c; border: 1px solid #0b0c0c;" data-module="govuk-button">
        Secure spreadsheet
      </button>
    </div>
  </div>
</div>

{% endblock %}
