{% extends "layouts/life-events/main.html" %}

{% block pageTitle %}
  GOV.UK Life Events
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">Department for Work and Pensions</span>
    <h1 class="govuk-heading-xl">Child has a disability</h1>
    <p class="govuk-body-l">Get notifications to your public service when users successfully apply for child Disability Living Allowance.</p>
    <h2 class="govuk-heading-m">Who might use this notification</h2>
    <p class="govuk-body">This life event notification is most likely to be of use to public services designed to support families of children with disabilities.</p>
    <br>
    <h2 class="govuk-heading-m">Data included in these notifcations:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Child name</li>
      <li>Child address</li>
      <li>Disability fund is awarded for</li>
      <li>Date fund is awarded</li>
      <li>Parent or guardian name</li>
      <li>Parent or guardian email</li>
      <li>Parent or guardian phone number</li>
    </ul>
    <br>
    <h2 class="govuk-heading-m">Available as</h2>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-!-font-size-24" style="background-color: #fff; color: #0b0c0c; border: 1px solid #0b0c0c;" data-module="govuk-button">
        API
      </button>
      <button class="govuk-button govuk-!-font-size-24" style="background-color: #fff; color: #0b0c0c; border: 1px solid #0b0c0c;" data-module="govuk-button">
        Secure spreadsheet
      </button>
    </div>
    <br>
    <h2 class="govuk-heading-m">Organisations getting this life event</h2>
    <div class="govuk-grid-column-one-third" style="padding-left: 0px;">
      <p>
        <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">73</span>
        <br>Organisations
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>
        <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">263</span>
        <br>Services
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>
        <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">49,234</span>
        <br>Life events sent
      </p>
    </div>
    <p class="govuk-body">See the <a class="govuk-link" href="#">list of services and organisations</a>.</p>
    <br>
    <h2 class="govuk-heading-m">Request to get these notifications</h2>
    <p class="govuk-body">Only local authorities, NHS trusts and government departments can request to get these notifications.</p>
    <a href="/life-events/fill-out-request" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Request notification
    </a>
  </div>
</div>

{% endblock %}
