{% extends "layouts/life-events/main.html" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Request notifications about children who start receiving Disability Living Allowance
      </h1>

      {{ govukNotificationBanner({
        text: "It currently takes five months to create data sharing agreements with Department for Work and Pension and approve requests for this data"
      }) }}

      <form action="/life-events/receiver/check-answers" method="get">
        <div class="govuk-form-group">

          <h2 class="govuk-heading-l">Your details</h2>
          {{ govukInput({
            label: {
              text: "Full name",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}
          {{ govukInput({
            label: {
              text: "Email",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            hint: {
              text: "This must be a gov.uk or nhs.uk email, such as first.last@example-council.gov.uk"
            }
          }) }}
        </div>


        <div class="govuk-form-group">

          <h2 class="govuk-heading-l">Your organisation's details</h2>
          {{ govukInput({
            label: {
              text: "Name",
              classes: "govuk-label--s",
              isPageHeading: false
            }
          }) }}
          {{ govukRadios({
            name: "where-do-you-live",
            fieldset: {
              legend: {
                text: "Organisation type",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "england",
                text: "Local authority"
              },
              {
                value: "england",
                text: "Central government"
              },
              {
                value: "scotland",
                text: "NHS trust"
              }
            ]
          }) }}
        </div>

        {{ govukCheckboxes({
          name: "fields",
          fieldset: {
            legend: {
              text: "Which data do you need?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "a",
              text: "Child's name"
            },
            {
              value: "b",
              text: "Child's date of birth"
            },
            {
              value: "c",
              text: "Child's school"
            },
            {
              value: "d",
              text: "Child's post address"
            },
            {
              value: "e",
              text: "Child's school"
            },
            {
              value: "f",
              text: "How a child's disability affects their disability"
            },
            {
              value: "g",
              text: "Parent or guardan's name"
            },
            {
              value: "h",
              text: "Parent or guardan's email address"
            },
            {
              value: "i",
              text: "Parent or guardan's phone number"
            }
          ]
        }) }}


        {{ govukCheckboxes({
          name: "fields",
          fieldset: {
            legend: {
              text: "What purpose do you want data for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "a",
              text: "Transport and mobility services "
            },
            {
              value: "b",
              text: "Financial support to families"
            },
            {
              value: "c",
              text: "Housing services for families "
            },
            {
              value: "d",
              text: "Other purpose"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
