{% extends "layouts/life-events/details-data-share.html" %}

{% block pageTitle %}
  GOV.UK One Login
{% endblock %}

{% block banner %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="account-navigation__list">
        <li class="account-navigation__list-item "><a class="account-navigation__link" href="#">Your services</a></li>
        <li class="account-navigation__list-item account-navigation__list-item--active"><a class="account-navigation__link" href="#">History</a></li>
        <li class="account-navigation__list-item "><a class="account-navigation__link" href="#">Settings</a></li>
        <li class="account-navigation__list-item "><a class="account-navigation__link" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
{% endblock %}