{% extends "layouts/plain.html" %}

{% block pageTitle %}
  GOV.UK Life Events
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/life-events/one-login-enter-code" method="post">

        {{ govukInput({
          id: "consent-password",
          attributes: {"data-module": "moj-password-reveal"},
          classes: "govuk-input--width-20",
          name: "consent-password",
          type: "password",
          label: {
            text: "Enter your password",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-body"><a href="#">I've forgotten my password</a></p>

      </form>

    </div>
  </div>

{% endblock %}
