{% macro dashboardLinks(page) %}
  <ul class="govuk-list">
    <li>
      <a class="govuk-link {{ "govuk-!-font-weight-bold" if page === "Dashboard" else "" }}" href="/life-events/sender/dashboard">Dashboard</a>
    </li>
    <li>
      <a class="govuk-link {{ "govuk-!-font-weight-bold" if page === "Life events" else "" }}" href="#">Life events</a>
    </li>
    <li>
      <a class="govuk-link {{ "govuk-!-font-weight-bold" if page === "Services" else "" }}" href="#">Services</a>
    </li>
    <li>
      <a class="govuk-link {{ "govuk-!-font-weight-bold" if page === "Settings" else "" }}" href="#">Settings</a>
    </li>
    <li>
      <a class="govuk-link {{ "govuk-!-font-weight-bold" if page === "API integration" else "" }}" href="#">API integration</a>
    </li>
  </ul>
{% endmacro %}
