{% extends "layouts/proof-council-start-page.html" %}

{% block pageTitle %}
  GOV.UK Proof
{% endblock %}

{% block banner %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br><br>
      <h1 class="govuk-heading-xl" style="color: white; margin-bottom: 25px;">Issue and check credentials about users</h1>
      <p class="govuk-body-l" style="color: white;">If you work in the public sector, use GOV.UK Proof to issue and check facts about your users.</p>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="background-color: white; color: #1d70b8;">
        Create a test accout
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
      </a>
      <br><br>
    </div>
  </div>
{% endblock %}