{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototypes
    </h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/product-splash-page">Generate a proof someone is a full-time student as a unviersity</a>
      </li>
      <li>
        <a class="govuk-link" href="/url-proof-id">Digital proof about student</a>
      </li>
      <li>
        <a class="govuk-link" href="/council/sign-in">Checking a proof someone is a full-time studen as a local authority</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
