{% extends "layouts/plain.html" %}

{% block pageTitle %}
  Automated Eligibility
{% endblock %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Questions and thoughts raised by making the prototypes
      </h1>

      <p class="govuk-body">We believe a good early prototype should raise more questions than it answers. Meaning for us a early prototype is a question machine.</p>

      <p class="govuk-body">Questions and thoughts raised by making the prototypes:</p>

      <h2 class="govuk-heading-m">GOV.UK Proof</h2>

      <h3 class="govuk-heading-s">Value proposition</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Do you need two separate propositions for orgs with data and ones who need it to provide services?</li>
        <li>Are the main points of proof already covered - or is there a long tail?</li>
        <li>Could secure file transfer be its own product? Could we show the HMRC team who’s <a href="https://www.gov.uk/guidance/hmrc-secure-data-exchange-service-sdes">built one</a>?</li>
        <li>How do we allow the level of data shown [in a proof] to be configured based on service needs / data protection?</li>
        <li>What are the level of needs for each of these [sending proof by email and post]?</li>
        <li>If services want to send proof via post, how much benefit does this service offer?</li>
        <li>Is there a need for services to check proofs in bulk?</li>
      </ul>

      <h3 class="govuk-heading-s">Sign up and onboarding</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Do we need to have any more thoughts about onboarding like we did with life events?</li>
      </ul>

      <h3 class="govuk-heading-s">Sign up and onboarding</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Do we need to have any more thoughts about onboarding like we did with life events?</li>
      </ul>

      <h3 class="govuk-heading-s">Security and privacy</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>How long should data be retained?</li>
        <li>Data retention, how long and can we delete early if consumed?</li>
        <li>Do we want to allow proofs to be revoked?</li>
        <li>How much data needs to be shown <a href="#">here</a>? And is it quite specific to each service?</li>
        <li>Do we need security around <a href="#">this web address</a>?</li>
        <li>Should checker have to provide more info about the person as well as proof ID to access the proof?</li>
      </ul>

      <h3 class="govuk-heading-s">Security and privacy</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>How long should data be retained?</li>
        <li>Data retention, how long and can we delete early if consumed?</li>
        <li>Do we want to allow proofs to be revoked?</li>
        <li>How much data needs to be shown <a href="#">here</a>? And is it quite specific to each service?</li>
        <li>Do we need security around <a href="#">this web address</a>?</li>
        <li>Should checker have to provide more info about the person as well as proof ID to access the proof?</li>
      </ul>

      <h3 class="govuk-heading-s">Proof as QR codes</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Is there a privacy risk of having too much information in QR code?</li>
        <li>What are the scenarios where a QR would be used?</li>
        <li>What should be in the QR code?</li>
        <li>How much can we cram in a QR code?</li>
        <li>How secure should the QR code be, what level of trust?</li>
        <li>What's an appropriate signature scheme?</li>
      </ul>

      <h3 class="govuk-heading-s">Authentication</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>How much data should be viewable in a proof without authentication?</li>
        <li>Who [user, data holder, services checking] should authentication sit with?</li>
        <li>What level of auth will we need [as a service checking a proof?</li>
        <li>Who should be allowed to check proofs?</li>
      </ul>

      <h3 class="govuk-heading-s">Other user journeys</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>What would adding a proof to somewhere else look like?</li>
        <li>How would the user provide their proof in an online application journey?</li>
      </ul>

      <h3 class="govuk-heading-s">Technical constraints</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>What are tech-informed view on barriers to being able to consume proof?</li>
        <li>How do we enable automation of data exchange for organisations that can't take advantage of APIs?</li>
        <li>How might we enable more technical orgs to check a proof automatically e.g. via an API?</li>
      </ul>

      <h3 class="govuk-heading-s">Legality and contracts</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>How would we enable this legally? I.e. this makes it sound simple but would data sharing agreements would be required for each new instance? Or would it be consent led by citizens?</li>
      </ul>

      <h2 class="govuk-heading-m">GOV.UK Life Events</h2>
      
      <h3 class="govuk-heading-s">Value proposition</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>What are the cross-overs with the 'Tell Gov Once' platform idea?</li>
        <li>What "life events" should be prioritised? Most value to the three different user groups?</li>
        <li>How often are there significant enough cross-overs in eligibility criteria?</li>
        <li>Can we create template data sharing agreements?</li>
        <li>How much should creating data sharing agreements be part of the GDX platform, product, business model?</li>
        <li>This whole journey is a simplified version of CDDO's Design a Data Share work. They have rich research into what the needs are here and it's more complicated - we would need to link up with</li>
        <li>this.</li>
        <li>What are the high level needs for a sub-pub platform? We have them for GOV.UK Proof concept. How much data should be viewable in a proof without authentification?</li>
      </ul>
      
      <h3 class="govuk-heading-s">Technical constraints</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>What are the Tech-informed view on barriers to being able to consume life events?
        To what extent can LAs make use of this information? Automatically?</li>
      </ul>

      <h3 class="govuk-heading-s">Legality and contracts</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>There's probably a way to frame this that's less problematic from a legal point of view - (1) sign in to view events you're already allowed to sub to; then (2) request the creation of a new DSA to allow access to a new sub</li>
        <li>What are the laws around the sharing of medical data?</li>
      </ul>
      
      <h3 class="govuk-heading-s">Notifications</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Who would be sending this out? DWP or the local authority?</li>
        <li>What level of detail do local authorities need here?</li>
      </ul>
      
      <h3 class="govuk-heading-s">Consent and transparency</h3>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>What services need there own separate platform to record consent?</li>
        <li>Might need to let user choose which services / teams to share with in LA?
        What auditing is needed?</li>
      </ul>
      
      <h3 class="govuk-heading-s">Routing to right organisation</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>How accurately can we determine the local authority that the citizen is in?</li>
        <li>Would we need to share with more than one LA?</li>
      </ul>
      
      <h3 class="govuk-heading-s">Admin settings</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>How to deal with multiple teams / systems in a LA needing this data?</li>
      </ul>
      
      <h3 class="govuk-heading-s">Alternative journeys</h3>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>What would the journey look like if someone applied for school transport who was already receiving DLA (e.g ask someone to consent to council asking DWP for their data as part of the application journey)</li>
      </ul>


    </div>
  </div>

{% endblock %}
